# Copier ce fichier en .env et adapter les valeurs

# ----------------------------------------------------
# OPTION A : Azure AI Studio (Models-as-a-Service)
# Parfait pour TotalEnergies (Mistral Large)
# ----------------------------------------------------
AZURE_MISTRAL_ENDPOINT="https://Mistral-large-MON-WORKSPACE.services.ai.azure.com/models"
AZURE_MISTRAL_API_KEY="votre_clef_azure_ai_ici_xxxxxx"
# Optionnel : Modèle spécifique (Large 2402, NeMo, etc.)
AZURE_MISTRAL_MODEL="mistral-large-latest"


# Paramètres de génération
LLM_TEMPERATURE=0.0
LLM_TOP_P=0.9
LLM_NUM_PREDICT=2048

# Agent
AGENT_MAX_ITERATIONS=15
AGENT_MEMORY_WINDOW=10

# Authentification (Optionnelle)
# Laissez vide pour un accès public.
# Renseignez une valeur pour forcer le header 'Authorization: Bearer <API_KEY>'
# API_KEY=ma_clef_secrete_123

# Répertoire de travail (laisser vide = racine du projet)
# AGENT_WORKSPACE=/path/to/your/project
